
.button {
       -fx-background-color:
          #eaeae1,
           radial-gradient(center 50% 0%, radius 100%,   #d9ff66,   #ace600);
       -fx-background-radius: 5,5,5,5;
       -fx-border-radius: 5,5,5,5;
       -fx-text-fill:#404040;
       -fx-border-color:radial-gradient(center 50% 0%, radius 100%,   #bfbfbf, #bfbfbf);
       -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.0) , 0, 0.0 , 0 , 0);
       -fx-border-width:2.5 2.5 2.5 2.5;
       -fx-font-weight:bold;
       -fx-font-size:12;
       -fx-padding:5 5 5 5;
 }
.button:hover {
    -fx-background-color:
       #eaeae1,
        radial-gradient(center 50% 0%, radius 100%,   #ccff99,  #ccff99);
    -fx-background-radius: 5,5,5,5;
    -fx-border-radius: 5,5,5,5;
    -fx-text-fill:#226600;
    -fx-border-color:radial-gradient(center 50% 0%, radius 100%,   #ccff99, #bfbfbf);
    -fx-border-width:2.5 2.5 2.5 2.5;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-padding: 5 5 5 5;

}
.button:pressed {
    -fx-background-color:
       #eaeae1,
        radial-gradient(center 50% 0%, radius 100%,  #e4f9d2,  #99ff33);
    -fx-background-radius:5,5,5,5;
    -fx-border-radius:5,5,5,5;
    -fx-text-fill:#44cc00;
    -fx-border-color:radial-gradient(center 50% 0%, radius 100%,   #ccff99, #a6a6a6);
    -fx-border-width:2.5 2.5 2.5 2.5;
    -fx-font-weight:bold;
    -fx-font-size:12;
    -fx-padding:5 5 5 5;
}

.buttonvoice {
       -fx-background-image: url('../img/voice.png');
       -fx-background-color:
          #eaeae1,
           radial-gradient(center 50% 0%, radius 100%,   #d9d9d9,   #f2f2f2);
       -fx-background-radius: 5,5,5,5;
       -fx-border-radius: 5,5,5,5;
       -fx-text-fill:#404040;
       -fx-border-color:radial-gradient(center 50% 0%, radius 100%,   #bfbfbf, #bfbfbf);
       -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.0) , 0, 0.0 , 0 , 0);
       -fx-border-width:2.5 2.5 2.5 2.5;
       -fx-font-weight:bold;
       -fx-font-size:12;
       -fx-padding:5 5 5 5;
 }
.buttonvoice:hover {
    -fx-background-image: url('../img/voice.png');
    -fx-background-color:
       #eaeae1,
        radial-gradient(center 50% 0%, radius 100%,   #d9d9d9,  #bfbfbf);
    -fx-background-radius: 5,5,5,5;
    -fx-border-radius: 5,5,5,5;
    -fx-text-fill:#226600;
    -fx-border-color:radial-gradient(center 50% 0%, radius 100%,   #ccff99, #bfbfbf);
    -fx-border-width:2.5 2.5 2.5 2.5;
    -fx-font-weight: bold;
    -fx-font-size: 12;
    -fx-padding: 5 5 5 5;

}
.buttonvoice:pressed {
    -fx-background-image: url('../img/voicepressed.png');
    -fx-background-color:
       #eaeae1,
        radial-gradient(center 50% 0%, radius 100%,  #d9d9d9,  #bfbfbf);
    -fx-background-radius:5,5,5,5;
    -fx-border-radius:5,5,5,5;
    -fx-text-fill:#44cc00;
    -fx-border-color:radial-gradient(center 50% 0%, radius 100%,   #ccff99, #a6a6a6);
    -fx-border-width:2.5 2.5 2.5 2.5;
    -fx-font-weight:bold;
    -fx-font-size:12;
    -fx-padding:5 5 5 5;
}



